@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500;600&display=swap');

:root {
    --triangle-height:170px;
}
.switch {
    --button-width: 2.5em;
    --button-height: 1.5em;
    --toggle-diameter: 1.2em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 2em;
    --color-grey: #ff5b25;
    --color-green: #4296f4;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(240, 248, 255);
    background-image: url('../img/bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 36px;
    margin: 0;
    color: rgb(65, 65, 65);
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    color: rgb(65, 65, 65);
    font-size: medium;
    margin-bottom: 0;
}
.main{
    /* min-height: calc(100vh - 150px); */
    padding: 30px 0 ;
    width: 100%;
    display:flex;
    align-items: center;
    /* background-color: green; */
    justify-content: center;
}
.sub-main{
    max-width: 95%;
}
.nav{
    height: 40px;
    margin: 0;
    max-width: 100vw;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 0 7px 20px 0 rgba(0, 0, 0, .2); */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    /*border: 2px solid red;*/
    /* min-height: 440px; */
    width: 100%;
    /* aspect-ratio:  1/1; */
    box-shadow: 10px 10px 20px 0  rgba(0,0,0,0.2);
    padding-top: 30px;
    padding-bottom: 30px !important;
    
}
/* Umbrella start */
.triangle{
    position: absolute;
    height:var(--triangle-height);
    aspect-ratio: 1/1.205;
    background-color: rgb(0, 0, 0);
    transform-origin: top;
    clip-path: polygon(0 100%, 50% 0%, 100% 100%);
    z-index: 0;
    box-sizing: border-box;
}

.tri-in{
    position: absolute;
    height:calc(var(--triangle-height) - 4px);
    aspect-ratio: 1/1.205;
    background-color: white;
    clip-path: polygon(0 100%, 50% 0%, 100% 100%);
    top:2.4px;
    left: 1.7px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.petal{
    height: var(--triangle-height);
    aspect-ratio: 1/1.205;
    position: absolute;
    transform-origin: top;
    bottom: calc(var(--triangle-height) / 4);
}
.tail{
    width: 100%;
    height: calc(var(--triangle-height) / 4);
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: calc( -1 * ((var(--triangle-height) / 4) - 2px));
    z-index: 2;
    border-radius: 0 0px 10px 10px;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    
}

.sub-text-box{
    max-height: 100%;
    max-width: 100%;
    /* background-color: rgb(14, 176, 25); */
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: calc( var(--triangle-height) * 0.04);
    overflow: hidden;
}
.sub-logo-div{
    height: 100%;
    width: 100%;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-logo-div > img{
    max-width: 100%;
    max-height: 100%;
}
.umbrella-1{
    position: relative;
    margin: 0 auto;
    top: 0;
    /* min-width: 360px; */
    background-color: white !important;
    height: calc((var(--triangle-height) * 2) + ((var(--triangle-height) / 4) * 2));
    aspect-ratio: 1/1;
    /* width: 100% !important; */
    max-width: 100%;
    /*background-color: green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.umbrella-1 > .triangle{
    bottom: calc(var(--triangle-height) / 4)
}
.umbrella-2{
    position: relative;
    margin: 0 auto;
    height: calc((var(--triangle-height) * 2) + ((var(--triangle-height) / 4) * 2));
    aspect-ratio: 1/1;
    /* width: 100% !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: none;
}
.bolt{
    width: calc(var(--triangle-height) / 10);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
    
    z-index: 5;
    background-color: white;
   
}
/* Umbrella ends */

.triangle:hover,.petal:hover{
    filter: brightness(90%) contrast(90%);
    backdrop-filter: rgba(255,255,255,.3);
    cursor: pointer;
}

.select{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 0px 0px;
}

.se{
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all ease-in-out 200ms;
}
.se-radio > input{
      
    position: absolute;
    visibility: hidden
}
.se-radio > input:checked + div{
    box-shadow: 2px 2px 5px 0px gray;
    transform: scale(1.1)
}


.se > img{
    height: 90%;
    width: 90%;
}

@media (max-width:530px) {
    :root{
        --triangle-height:calc(50vw - (50vw / 4));
    }
    h1{
        font-size: x-large;
    }
    .main{
        align-items: center;
    }
}
.tp{
    background-color: #415cd4;
}
.ts{
    background-color: #ffffff;
}
/*Experimantal*/
#floatingDiv {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 10px;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.logo-div{
    /* background-color: gray; */
    width: calc(var(--triangle-height) / 2.5);
    aspect-ratio: 1/1;
    position: absolute;
    bottom: calc(var(--triangle-height) * 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-div > img{
    max-width: 100%;
    max-height: 100%;
}
.text-box{
    display: none;
    /* background-color: rgb(255, 0, 0); */
    width: calc(var(--triangle-height) / 1.5);
    max-width: calc(var(--triangle-height) / 2);
    /* min-height: calc(var(--triangle-height) * 0.2); */
    position: absolute;
    bottom: calc((var(--triangle-height) * 0.04));
    /* bottom: 0; */
    font-size: xx-small;
    /* font-size: calc(var(--triangle-height) * 0.04); */
    /* font-size: calc((var(--triangle-height) * 0.12) / 2.5);
    text-align: center; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* line-height: calc((var(--triangle-height) * 0.12) / 2);
    font-weight: bolder; */
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: calc( var(--triangle-height) * 0.04);
    /* text-transform: lowercase; */
}
.text-box > h6{
    margin: 0;
    font-weight: bold;
    font-size: .6rem;
}
.text-box > p{
    margin: 0;
    font-weight: 500;
    font-size: .4rem;
}
.color-flex{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    
}
#color-inbox{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  width: 70px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgb(132, 132, 132);
  height: 22px;
}

#color{
    cursor:pointer;
    height: 32px;
    border:none; 
    background-color: transparent;
    padding: 0;
    padding-left: 0%;
    cursor:pointer;
    width:30px;
}
#form{
    width: 100%;
    /* background-color: red; */
}
#form > label{
    font-size: x-small;
}
.text-input{
    border: 1px solid rgb(196, 196, 196);
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    margin: 0 auto;
    min-height: 50px;
    border-radius: 4px;
    font-size: small;
    padding: 0 4px 0 4px;
}
.text-input:focus{
    outline: none;
    border: 1px solid gray;
}
.button-div{
    display: flex;
    margin-top: 20px;
}
.download_button{
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    background-color: rgb(3, 54, 109);
    bottom: 10%;   
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    color: white;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}
.download_button:hover{
    opacity:  0.9;
}

.change-file-btn{
    font-size: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
    background-color:  rgb(3, 54, 109);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    border-radius: 4px;
}

/* Form.css */
/************upload-button************* */

.upload{
    
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    /* width: 100%; */
  }
  input[type="file"] {
    outline: none;
    padding: 2px;
    margin: -2px;
  }
  
  
  
  input[type="file"]::before {
    top:16px;
  }
  
  input[type="file"]::after {
    top: 15px;
  }
  
  /* ------- From Step 2 ------- */
  
  input[type="file"] {
    position: relative;
    font-size: 10px;
    text-align: left;
  }
  
  input[type="file"]::file-selector-button {
    width: 100px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 11px; 
    left: 27px;
    color: #0964b0;
    content: "Upload File";
    font-size: 12px;
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 10px; 
    left: 12px;
    height: 15px;
    width: 15px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */

  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file uplrgba(220, 20, 60, 0.568)oad button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

/* Toggle button */
.slider {
 display: inline-block;
 width: var(--button-width);
 height: var(--button-height);
 background-color: var(--color-grey);
 border-radius: calc(var(--button-height) / 2);
 position: relative;
 transition: 0.3s all ease-in-out;
}

.slider::after {
 content: "";
 display: inline-block;
 width: var(--toggle-diameter);
 height: var(--toggle-diameter);
 background-color: #fff;
 border-radius: calc(var(--toggle-diameter) / 2);
 position: absolute;
 top: var(--button-toggle-offset);
 transform: translateX(var(--button-toggle-offset));
 box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
 background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
 box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
 display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
 width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.toggle-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.toggle-div > span{
    margin-top: -0.4em;
}